[Unit]
Description=Start x11vnc server at startup
After=multi-user.target

[Service]
ExecStart=/usr/bin/x11vnc -localhost -forever -loop -xkb -noxrecord -noxfixes -noxdamage -display :0 -auth guess -rfbauth /etc/vnc/x11vnc.passwd
ExecStop=/usr/bin/killall x11vnc

[Install]
WantedBy=multi-user.target
